# Dependencies
node_modules/

# Build output
dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Misc
*.log

data/drrm/essentials/
data/drrm/water-based/
data/drrm/land-based/